
<% layout("/layouts/boilerplate.ejs") %>
<div class="row">
  <div class="col-8 offset-2">
  <h3>Listing Details</h3>
  </div>

<div class="card col-6 offset-2 show-card">
    <img src="<%= data.image.url %>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
      <p class="card-text">
      <b> <%= data.title %></b> 
      <br><%= data.description %><br>
      &#8377; <%= data.price.toLocaleString("en-IN") %><br>
      <%= data.location%><br>
      <%= data.country%><br>
    </p>
    </div>
  </div>

  <br/>
  <% console.log("Current User:", curruser) %>
<% console.log("Data Owner:", data.owner) %>
 <% if(curruser && data.owner._id.equals(curruser._id)) { %>
  <div class="btns">
    <a href="/listings/<%= data._id %>/edit" class="btn btn-dark edit-btn col-1 offset-2">Edit</a>
    
    <form method="POST" action="/listings/<%= data._id %>?_method=DELETE" class="d-inline">
      <button class="btn btn-dark offset-4">Delete</button>
    </form>
  </div>
<% } %>
  <div class="col-8 offset-2">
    <br>
    <hr>
   <h4>Leave a Review</h4>
<form action="/listings/<%= data._id %>/reviews" method="post" novalidate class="needs-validation">
  
  <!-- Star Rating -->
  <div class="mb-3 mt-3">
    <label class="form-label">Rating:</label>
    <div class="star-rating">
      <input type="radio" id="star5" name="review[rating]" value="5" required />
      <label for="star5" title="5 stars">★</label>
      
      <input type="radio" id="star4" name="review[rating]" value="4" />
      <label for="star4" title="4 stars">★</label>
      
      <input type="radio" id="star3" name="review[rating]" value="3" />
      <label for="star3" title="3 stars">★</label>
      
      <input type="radio" id="star2" name="review[rating]" value="2" />
      <label for="star2" title="2 stars">★</label>
      
      <input type="radio" id="star1" name="review[rating]" value="1" />
      <label for="star1" title="1 star">★</label>
    </div>
  </div>

  <!-- Comment -->
  <div class="mb-3 mt-3">
    <label class="form-label">Comment:</label>
    <textarea name="review[comment]" id="comment" cols="20" rows="4" class="form-control" required></textarea>
    <div class="invalid-feedback">Comments required!</div>
  </div>
  
  <button class="btn btn-dark">Submit</button>
</form>

    <hr/>
    <p>all reviews</p>
    <% for(review of data.reviews) { %>
    <div class="card">
  <div class="card-body cls-6 offset-3 ">
    <h5 class="card-title"><%= review.author %></h5>
    <p class="card-text"> <%= review.comment %></p>
   <% for(i=0;i<review.rating;i++) { %>
     <span>⭐</span> 
  <% } %>
  <% if(data._id.toString() === curruser._id.toString()) {%>
 <form method="POST" action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE">
  <button class="btn btn-sm btn-dark">Delete</button>
</form>
<% } %>
 
  </div>
</div>
</div>
<% } %>
</div>
</div>


